ul{
    width: auto;
    height: 200 px;
    background-color: antiquewhite;

}

ul li{
    width: 200 px;
    height: 40 px;
    background-color:cyan;
    float:left;
    margin-left:10px;
    list-style-type: none;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}